<%-include("header") %>
<body>
  <div class="container text-center">
    <!-- 上段の3個 -->
    <div class="row d-none d-sm-flex">
      <div class="col-4 item">
      </div>
      <div class="col-4 item">
      </div>
      <div class="col-4 item">
      </div>
    </div>

    <div class="row">
      <!-- 中段の左 -->
      <div class="col-4 item d-none d-sm-flex">
      </div>

      <div class="col-12 col-sm-4 item">
        <div class="row">
          <div class="col-12">
            <h1><%= title %></h1>
          </div>
          <div class="col-12">
            <p>Let's enjoy calcuration!!</p>
          </div>
          <div class="col-12" id="calc-contents">
            <p><%= num1 %> + <%= num2 %> = ?</p>
          </div>
          <div class="col-12">
            <form action="result" method="POST" class="row">
              <div class="col-3 offset-3">
                <label for="result" class="col-form-label">Result : </label>
              </div>
              <div class="col-3">
                <input type="number" name="result" class="form-control">
              </div>
              <input type="hidden" name="num1" value=<%= num1 %>>
              <input type="hidden" name="num2" value=<%= num2 %>>
              <div class="col-12 mt-1">
                <input type="submit" value="Submit" class="btn btn-primary btn-sm">
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- 中段の右 -->
      <div class="col-4 item d-none d-sm-flex">
      </div>
    </div>

    <!-- 下段の3個 -->
    <div class="row d-none d-sm-flex">
      <div class="col-4 item">
      </div>
      <div class="col-4 item">
      </div>
      <div class="col-4 item">
      </div>
    </div>
  </div>
</body>
<%-include("footer") %>
